# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# allow small data, but ignore some possible binary and export cache (adjust as needed)
*.zip
*.gz
*.h5
*.sqlite
*.db

.gitattributes
